@font-face {
  font-family: 'FiraSans';
  font-weight: 900;
  src: url("/src/assets/fonts/FiraSans/Black.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 900;
  src: url("/src/assets/fonts/FiraSans/BlackItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 800;
  src: url("/src/assets/fonts/FiraSans/ExtraBold.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 800;
  src: url("/src/assets/fonts/FiraSans/ExtraBoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 700;
  src: url("/src/assets/fonts/FiraSans/Bold.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 700;
  src: url("/src/assets/fonts/FiraSans/BoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 600;
  src: url("/src/assets/fonts/FiraSans/SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 600;
  src: url("/src/assets/fonts/FiraSans/SemiBoldItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 500;
  src: url("/src/assets/fonts/FiraSans/Medium.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 500;
  src: url("/src/assets/fonts/FiraSans/MediumItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 400;
  src: url("/src/assets/fonts/FiraSans/Regular.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/FiraSans/RegularItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 300;
  src: url("/src/assets/fonts/FiraSans/Light.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 300;
  src: url("/src/assets/fonts/FiraSans/LightItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 200;
  src: url("/src/assets/fonts/FiraSans/ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 200;
  src: url("/src/assets/fonts/FiraSans/ExtraLightItalic.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-weight: 100;
  src: url("/src/assets/fonts/FiraSans/Thin.ttf") format("opentype");
}

@font-face {
  font-family: 'FiraSans';
  font-style: italic;
  font-weight: 100;
  src: url("/src/assets/fonts/FiraSans/ThinItalic.ttf") format("opentype");
}
