@import './assets/fonts/index';
@import './styles/typography';

:root {
  --black: #000;
  --grey: #D3D8DF;
  --ligth-grey: #DFE4EF;
  --grey-blue: #8E9CBB;
  --blue: #0066FF;
  --default-box-shadow: 0px 3px 16px 0px (var(--blue), 70%);
}

body {
  font-family: 'FiraSans';
}

*, *::after, *::before {
  box-sizing: border-box;
  user-select: none;
}